#root {
  width: 100vw;
  min-height: 95vh;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background-image: url(../bg.jpg);
}

.header {
  margin: 5px;
  padding:5px;
  width: auto;
  background-color: rgb(223, 223, 241);
  border-radius: 15px;
  border-color: rgb(113, 50, 50);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.group{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  
}
.content {
  margin-top: 5px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: auto;
  background-color: rgb(224, 224, 235);
  border: 1px solid;
  border-color: rgb(183, 133, 133);
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
}
.h1{
  text-transform: capitalize;
}