:root{
  margin: 0 auto;
  text-align: center;
  
  
}

.main {
  display: flex;
  justify-content: center;
  padding: 50px;
}

img {
  background-position: 50px;
}
.box {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: bisque;
}